exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(SimSpin)

import("magicaxis")
importFrom("snapshot", "snapread")
importFrom("celestial", "cosdistAngScale")
importFrom("ProFit", "profitMakeGaussianPSF", "profitBruteConv", "profitCubaMoffat")
