exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(SimSpin)

import("magicaxis")
importFrom("snapshot", "snapread")
importFrom("celestial", "cosdistAngScale")
importFrom("fields", "image.plot")
importFrom("ProFit", "profitMakeGaussianPSF", "profitBruteConv", "profitCubaMoffat")
importFrom("plotrix", "draw.ellipse")
