exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(SimSpin)

import("magicaxis")
importFrom("hdf5r", "h5file", "list.groups", "readDataSet", "h5close")
importFrom("celestial", "cosdistAngScale")
importFrom("fields", "image.plot")
importFrom("ProFit", "profitMakeGaussianPSF", "profitBruteConv", "profitCubaMoffat")
importFrom("plotrix", "draw.ellipse")
importFrom("FITSio", "writeFITSim", "addKwv", "newKwv")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "par")
importFrom("stats", "approxfun", "density", "pnorm", "setNames", "rnorm")
importFrom("ProFound", "profoundSB2Flux")
